@media screen and (max-width: 576px) {
  .header_internas {
    padding: 0px 34px !important;
    .title {
      padding: 0;
    }
  }
  .marketing {
    height: 546px;
    .title {
      h1 {
        font-size: 45px;
      }
      p {
        font-size: 15px;
      }
    }
  }
  .questions_section {
    .questions {
      h3 {
        font-size: 25px;
        padding: 0px 15px;
      }
      p {
        font-size: 15px;
        padding: 0px 15px;
      }
    }
    .box_questions {
      h3 {
        font-size: 15px;
      }
      img {
        width: 80px;
        height: 80px;
      }
      p {
        font-size: 15px;
      }
    }
    .text_info {
      h3,
      p {
        font-size: 15px;
      }
    }
  } 
  .like_movigoo {
    .info {
      margin-bottom: 30px;
      p {
        font-size: 15px;
        padding: 0px 20px;
      }
    }
    .box {
      margin-bottom: 0px !important;
      img {
        width: 80px;
        height: 80px;
      }
      p {
        font-size: 14px;
        padding: 20px 25px 0px;
      }
    }
  }
  .graphic_marketing {
    margin-top: 20px;
    .img_graphic_destock {
      display: none;
    }
    .img_graphic_movil {
      display: initial;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      position: relative;
      flex-flow: column;
      -webkit-flex-flow: column;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
    }
  }
  #pureCloudHeader {
    min-height: 546px;
    height: 546px;
  }
  .servicios {
    height: 546px;
    .title {
      h1 {
        font-size: 45px !important;
        margin-top: 70px;
      }
      p {
        font-size: 15px !important;
      }
    }
  }
  .communications {
    .title {
      margin-top: 47px;
      h3 {
        font-size: 25px;
        margin-right: 13px;
        padding: 0px 15px;
      }
      p {
        font-size: 15px;
        margin-top: 20px;
        padding: 0px 15px;
      }
    }
    .box_redes {
      img {
        width: 80px;
        height: 80px;
      }
      p {
        font-size: 15px;
      }
    }
    .text {
      margin-top: 50px;
      margin-bottom: 35px;
      p {
        font-size: 15px;
        padding: 0px 15px;
      }
    }
  }
  .like_movigoo  {
    .info {
      .text_serv {
        text-align: center;
      }
    }
    .clientes_box {
      p {
        padding: 7px 0px 0px;
      }
    }
  } 
  .clientes {
    height: 546px;
    .title { 
      h1 {
        font-size: 45px;
        margin-top: 60px;
      }
      p {
        font-size: 15px;
        text-align: start;
        margin: 0px;
      }
    }
  }
  .formula {
    .title {
      margin-top: 47px;
      h3 {
        font-size: 25px;
        margin-right: 72px;
        padding: 0px 15px;
      }
      p {
        font-size: 15px;
        padding: 0px 15px;
        margin-top: 20px;
        margin-bottom: 40px;
      }
    }
    .box {
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      flex-flow:column;
      -webkit-flex-flow: column;
      align-items: center;
      -webkit-align-items: center;
      margin-bottom: 0px;
      margin-top: 0px;
      img {
        width: 80px;
        height: 80px;
      }
      p {
        font-size: 15px;
        text-align: center;
        margin-left: 60px;
        margin-right: 50px;
        margin-top: 15px;
      }
    }
    .text {
      margin-top: 30px;
      p {
        font-size: 15px;
        padding: 0px 15px;
        margin-bottom: 35px;
      }
    }
  }
  .footer_internas {
    .logo {
      margin-top: 38px;
      img {
        width: 115px;
      }
    }
    .box_options {
      margin-top: 26px;
      ul {
        li {
          margin: 10px 0px;
        }
        .bold {
          margin: 10px 0px;
        }
      }
    }
    .top,
    .redes {
      margin-top: 5px;
      .destock {
        display: none;
      }
    }
    .text_movil {
      display: initial;
      padding: 0px 10px;
      p {
        font-size: 13px;
        font-weight: bold;
        line-height: 1.54;
        color: #ffffff;
      }
    }
  }
  #nosotros_content {
    .left_img {
      padding:0px 34px;
    }
    .right_content {
      padding:0px 34px;
      .txt_big {
        font-size: 25px !important;
      }
      .logos_cmp {
        figure {
          img {
            max-height: 40px;
          }
        }
      }
    }
  }
  .inicio_digitalt {
    .content_header {
      .title_header {
        height: auto;
        h1 {
          font-size: 35px;
        }
      }
      .center_content {
        margin-top:22px;
        p {
          font-size: 20px;
        }
        .box_buttons {
          .btn {
          }
          .btn-danger {
            margin-right: 0px;
            margin-bottom: 20px;
          }
        }
      }
      p.txt_preg {
        font-size: 13px;
      }
    }
  }
  .text_digital {
    .box {
      margin-top: 25px;
      margin-bottom: 0px;
      padding: 0px 34px;
      border: none;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      flex-flow: row;
      -webkit-flex-flow: row;
      align-items: center;
      -webkit-align-items: center;
      justify-content: flex-start;
      -webkit-justify-content: flex-start;
      p {
        padding: 0px 15px;
      }
      .dark {
        color: $morado;
      }
      ul {
        flex-flow: column wrap;
        -webkit-flex-flow: column wrap;
        align-items: flex-start;
        -webkit-align-items: flex-start;
        li {
          border: 0px;
          padding: 0px !important;
          margin-bottom: 15px;
          text-align: left;
        }
      }
    }
    .text {
      margin-top: 30px;
      p {
        font-size: 15px;
        padding:0px 15px;
      }
      .title_box {
        font-size: 18px;
        padding:0px 15px;
      }
    }
    .Benefits {
      p {
        font-size: 18px;
        padding:0px 15px;
      }
      .box_buttons_benefits {
        display: initial;
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        position: relative;
        flex-flow: column;
        -webkit-flex-flow: column;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
        margin-bottom: 30px;
        .wasp,
        .chat{
          width: 309px;
          height: 50px;
          font-size: 15px;
          img {
            width: 23px;
            height: 23px;
          }
        }
        .wasp {
          margin-top: 30px;
          margin-bottom: 20px;
          margin-right: 0px;
        }
      }
    }
    .text_precios {
      p{
        font-size: 15px;
        padding:0px 15px;
      }
      .box_buttons {
        margin-top: 42px;
        margin-bottom: 50px;
        .precio_button {
          width: 308px !important;
          height: 45px !important;
          font-size: 15px !important;
        }
      }
    }
  } 
  .inicio_chatbots {
     height: 546px;
     padding: 115px 0px;
    .content_header {
      .title_header {
        height: auto;
        h1 {
          font-size: 35px;
        }
      }
      .center_content {
        margin-top:0px;
        p {
          font-size: 20px;
        }
        .box_buttons {
          margin-top: 25px;
          .btn {
            width: 182px;
            height: 45px;
          }
          .btn-danger {
            margin-right: 0px;
            margin-bottom: 20px;
            font-size: 15px;
          }
          .btn-outline-danger {
            font-size: 15px;
          }
        }
        .txt_preg {
          font-size: 13px;
        }
      }
    }
  }
  .text_chatbots {
    .box {
      margin-top: 25px;
      margin-bottom: 0px;
      ul {
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-flow: column wrap;
        -webkit-flex-flow: column wrap;
        align-items: flex-start;
        -webkit-align-items: flex-start;
        justify-content: flex-start;
        -webkit-justify-content: flex-start; 
        width: 100%;
        list-style: none;
        li {
          border: 0px;
          padding: 0px !important;
          margin-bottom: 15px;
          text-align: left;
          a {
            font-size: 20px;
            padding: 0px 15px;
          }
        }
      }
    }
    .text {
      padding: 0px 34px;
      p {
        font-size: 15px;
        padding: 0px;
      }
      .title_box {
        font-size: 18px;
        margin-right: 0px;
        padding-bottom: 10px;
        margin: 0px;
      }
      ul {
        list-style: none;
        li {
          a {
            font-size: 15px;
            padding: 0px 15px;
          }
        }
      }
    }
    .text_precios {
      margin-top: 30px;
      padding:0px 34px;
      p {
        font-size: 18px;
      }
      .dark {
        font-weight: bold;
        padding-top: 20px;
        margin: 0px;
      }
      .box_buttons {
        margin-bottom: 53px;
        .precio_button {
          width: 308px;
          height: 45px;
          font-size: 15px;
        }
      }
    }
    .imagen {
      margin-top: 30px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }   
  #pureCloudContent {
    .titulo {
      margin-bottom: 20px;
      h1 {
        font-size: 25px;
        line-height: 1.2;
        margin-bottom: 15px;
      }
      p {
        font-size: 18px;
        line-height: 1.39;
        margin-bottom: 0px;
      }
    }
    .texto_centrado {
      .integraciones {
        img {
          &:nth-child(1) {
            margin-right: 3px !important;
            max-height: 55px;
          }
          &:nth-child(2) {
            margin-right: 3px !important;
            max-height: 17px;
          }
          &:nth-child(3) {
            max-height: 40px;
          }
        }
      }
      p {
        &:last-child {
          font-size: 18px;
          line-height: 1.39;
        }
      }
    }
    .iconos_texto {
      .top {
        figure {
          img {
            max-height: 55px;
          }
        }
      }
    }
    p {
      font-size: 15px;
      line-height: 1.53;
    }
  }
  #planes_pure_cloud {
    .plan {
      h4 {
        font-size: 18px;
        line-height: normal;
      }
      p {
        font-size: 15px;
        line-height: 1.53;
        margin-bottom: 15px;
      }
      figure {
        height: 109px;
        img {
          max-height: 109px;
        }
      }
      &:first-child {
        figure {
          img {
            max-height: 55px;
          }
        }
      }
      &:last-child {
        figure {
          height: 127px;
          img {
            max-height: 127px;
          }
        }
      }
    }
  }
  #pureCloudHeaderRedSection {
    .pchrs_content {
      padding: 0px 34px;
      h4 {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.25;
        margin-bottom: 15px;
      }
      p {
        font-size: 15px;
        line-height: 1.53;
        margin-bottom: 25px;
      }
      figure {
        img {
          &:nth-child(1) {
            max-height: 22px;
          }
          &:nth-child(2) {
            max-height: 41px;
          }
          &:nth-child(3) {
            max-height: 18px;
          }
        }
      }
    }
  }
  .inicio_whatsapp {
    padding: 0px;
    .content_header {
      padding: 0px 34px;
      img {
        width: 50px;
        height: 50px;
        margin-bottom: 17px;
      }
      .title_header {
        height: auto;
        h1 {
          font-size: 35px;
          font-weight: bold;
          text-align: center;
          color: #ffffff;
        }
      }
      .center_content {
        padding: 0px;
        p {
          color: #ffffff;
          font-size: 20px;
          line-height: 1.15;
          padding: 0px;
          text-align: center;
        }
        .box_buttons {
          text-align: center;
          margin-top: 25px;
          .btn-danger {
            background-color: $rojo;
            border: solid 2px $rojo;
            color: white;
            margin-right: 0px;
            margin-bottom: 20px;
          }
        }
      }
      p.txt_preg {
        font-size: 15px;
        line-height: 2;
        text-align: center;
        color: #ffffff;
        a {
          color: #ffffff;
          font-weight: 700;
        }
      }
    }
  }
  .text_whatsapp {
    .box {
      margin-top: 25px;
      margin-bottom: 0px;
      padding: 0px 34px;
      border: none;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      flex-flow: row;
      -webkit-flex-flow: row;
      align-items: center;
      -webkit-align-items: center;
      justify-content: flex-start;
      -webkit-justify-content: flex-start;
      p {
        padding: 0px 15px;
      }
      .dark {
        color: $morado;
      }
      ul {
        flex-flow: column wrap;
        -webkit-flex-flow: column wrap;
        align-items: flex-start;
        -webkit-align-items: flex-start;
        margin: 0px;
        li {
          border: 0px;
          padding: 0px !important;
          margin-bottom: 15px;
          text-align: left;
        }
      }
    }
    .text {
      margin-top: 30px;
      p {
        font-size: 15px;
        line-height: 1.53;
        padding:0px 15px;
      }
      .title_box {
        font-size: 18px;
        padding:0px 15px;
      }
      
    }
  }
  .list_whatsapp {
    .text {
      padding:0px 34px;
      .text_title {
        font-size: 18px;
        font-weight: bold;
        line-height: 1.39;
        margin: 0px 0px 20px 0px;
        padding-left: 0px;
      }
      ul {
        padding-left: 24px;
        margin: 0 !important;
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-flow: column wrap;
        -webkit-flex-flow: column wrap;
        align-items: flex-start;
        -webkit-align-items: flex-start;
        justify-content: flex-start;
        -webkit-justify-content: flex-start;
        list-style: none;
        margin: 0px 12px;
        li {
          border: 0px;
          padding: 0px !important;
          margin-bottom: 15px;
          text-align: left;
          font-size: 15px;
          a {
            font-size: 20px;
            padding: 0px 15px;
          }
        }
      }
    }
    .tlf {
      margin: 0px;
      padding: 0px;
    }
    .box_wapp {
      img {
        width: 80px;
        height: 80px;
      }
      p {
        font-size: 15px;
        line-height: 1.53;
      }
      &:nth-child(1),
      &:nth-child(3) {
        padding:0px 34px;
      }
      &:nth-child(2),
      &:nth-child(4) {
        padding:0px 34px;
      }
    }
    .text_precios {
      padding:0px 34px;
      .box_buttons {
        .precio_button {
          width: 308px;
          height: 45px;
          font-size: 15px;
        }
      }
    }
  }
  #nosotros {
    background:url('../images/movigoo-banner-xs.jpg') no-repeat;
    background-position:center center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
  }
  .chatbox_contenido {
    .item {
      p {
        font-size: 18px;
        margin-right: 0px;
        margin-bottom: 30px;
      }
    }
    .texto_bajo {
        padding-bottom: 20px;
      h3 {
        font-size: 18px;
        margin-top: 10px;
      }
      p {
        font-size: 15px;
      }
    }
    .icono_sobre_img {
      margin-bottom: 15px;
      figure {
        margin-bottom: 0px;
        img {
          max-height: 100px;
        } 
      }
      p {
        font-size: 15px;
      }
    }
  }
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
    a {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 767px) {
  header {
    height: 71px;
    padding: 20px 34px;
    .row {
      width:auto !important;
    }
    .logo {
      img {
        max-height: 22px;
      }
    }
    .btn_header {
      a {
        font-size: 12px;
        padding: 9px 16px 6px;
      }
    }
  }
  header.hin_nmenu {
    padding: 0px 34px;
    .bg-light {
      .navbar-brand {
        margin-right: 10px;
      }
      .navbar-nav {
        margin-top: 89px;
        .nav-item {
          text-align: right;
          .nav-link {
            font-size: 45px;
            font-weight: 700;
            margin-right: 0px;
          }
        }        
        .nav-item.active {
          .nav-link {
            
          }
        }
        .item_menu {
          font-size: 45px;
        }
        .item_menu.active {
          ul {
            li {
              a {
                font-size: 15px;
                font-weight: 400;
              }
            }
          }
        }
        .nav-item.active.dropdown.show {
          &:after {
            display: none;
          }
        }
        .nav-item.dropdown {
          &:hover {
            &:after {
              display:none
            }
          }
        }
        .closebtn {
          top: 10px;
          right: 26px;
        }
        .dropdown-menu {
          background-color: transparent;
          border: 0px;
          border-radius: 0;
          box-shadow: none;
          padding-top: 0px;
          top: 59px;
          width: auto;
          .dropdown-item {
            padding: 0px;
            margin-bottom: 15px;
            .tit_seccion {
              font-size: 15px;
              font-weight: 400;
              line-height: normal;
              text-align: right;
            }
          }
        }
      }
    }
    .navbar-light {
      .navbar-toggler {
        border: 0;
        bottom: -68px;
        cursor: pointer;
        padding: 0;
        position: absolute;
        right: 0px;
        z-index: 9999;
      }
    }
    .navbar-collapse {
      background-color: rgb(249, 249, 249);
      height: 664px;
      left: -34px;
      padding: 0px 34px;
      position: absolute;
      right: -34px;
      top: 60px;
      z-index: 5;
    }
  }
  main {
    min-height: 450px;
    height: calc(100vh - (71px + 50px));
  }
  main.mcont {
    height: auto;
  }
  #home {
    padding:82px 0px;
    .left_content {
      padding:0px 34px;
      .top_content {
        h1 {
          font-size: 30px !important;
        }
        img {
          max-height: 128px;
          margin-right: 38px;
        }
      }
      .bottom_content {
        p {
          font-size: 15px;
          line-height: 1.67;
        } 
      }
    }
    .right_content {
      height: calc(100vh - (71px + 50px));
      min-height: 515px;
      .mn_hamb {
        position: absolute;
        top: 101px;
        right: 34px;
        width: 62px;
      }
      .sidenav {
        bottom: 50px;
        position: absolute;
        padding-top: 90px;
        padding-right: 34px;
        right: -735px;
        top: 71px;
        width: 100%;
        .item_menu {
          font-size: 45px;
        }
        .item_menu.active {
          ul {
            li {
              a {
                font-size: 15px;
                font-weight: 400;
              }
            }
          }
        }
        .closebtn {
          top: 10px;
          right: 26px;
        }
      }
      .open {
        right: 0;
      }
    }
    &:after {
      display: none;
    }
  }
  #pureCloudHeader {
    .content_header {
      .title_header {
        height: 100px;
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-flow: column-reverse wrap;
        -webkit-flex-flow: column-reverse wrap;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
        figure {
          position: relative;
          width: 100%;
          img {
            display: block;
            margin: 0 auto;
            max-height: 25px;
          }
        }
        p.top_header {
          font-size: 15px;
          width: 100%;
        }
      }
      .center_content {
        margin-top: 0px;
        p.txt_center {
          font-size: 20px;
          line-height: 30px;
          margin-bottom: 10px;
        }
        .box_buttons {
          .btn {
            display: block;
            font-size: 15px;
            height: 45px;
            margin: 0 auto;
            width: 182px;
          }
          .btn-danger {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
  #pureCloudHeaderRedSection {
    .img_sticky {
      display: none;
    }
  }
  .formula {
    .title {
      h3 {
        margin-right: 0px;
      }
    }
    .box {
      p {

      }
    }
  }
  footer {
    .colm_footer {
      width: auto !important;
    }
    .rs {
      text-align: center;
      a {
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  #pureCloudContent {
    .titulo,
    .iconos_texto,
    .texto_centrado {
      padding: 0px 34px;
    }
    .iconos_texto {
      .top {
        justify-content: flex-start;
        -webkit-justify-content: flex-start;
      }
      .info {
        margin-bottom: 40px;
        p {
          font-size: 18px;
          line-height: 1.4;
          text-align: left;
        }
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
    .texto_centrado {
      .integraciones {
        img {
          margin: 0px 0px 15px !important;
        }
      }
    }
  }
  #planes_pure_cloud {
    .plan {
      border-right: 0;
      padding: 25px 32px;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 1px;
        width: calc(100% - 68px);
        background-color: #000;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
  .inicio_chatbots {
    .content_header {
      .center_content {
        .box_buttons {
          .btn {
            display: block;
            font-size: 15px;
            line-height: normal;
            height: 45px;
            margin: 0 auto;
            width: 182px;
          }
          .btn-danger {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
  .text_chatbots {
    .text {
      ul {
        li {
          font-size: 15px;
          line-height: 1.53;
        }
      }
    }
    .imagen {
      margin-top: 30px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .chatbox_contenido {
    .item {
      p {
        font-size: 18px;
        margin-right: 0px;
        margin-bottom: 30px;
      }
    }
    .texto_bajo {
        padding-bottom: 20px;
      h3 {
        font-size: 18px;
        margin-top: 10px;
      }
      p {
        font-size: 15px;
      }
    }
    .icono_sobre_img {
      margin-bottom: 15px;
      figure {
        margin-bottom: 0px;
        img {
          max-height: 100px;
        } 
      }
      p {
        font-size: 15px;
        width: auto;
      }
    }
  }
  #freshworks {
    .top_header {
      figure {
        img {
          max-height: 32px;
        }
      }
      h1 {
        font-size: 35px;
        line-height: normal;
      }
      p {
        font-size: 20px;
        line-height: 1.15;
      }
      .box_buttons {
        .btn {
          display: block;
          font-size: 15px;
          line-height: normal;
          height: 45px;
          margin: 0 auto;
          width: 182px;
        }
        .btn-danger {
          margin-bottom: 20px;
        }
      }
    }
  }
  #freshworksBlank {
    .mb-40 {
      margin-bottom: 20px;
    }
    .content {
      padding: 0px 34px;
      .logo_fbl {
        figure {
          img {
            display: block;
            margin: 0 auto;
          }
        }
      }
      p {
        font-size: 15px;
        line-height: 1.53;
      }
      h5 {
        font-size: 18px;
        line-height: 1.39;
      }
      .freshwork_iptions {
        margin-bottom: 20px;
        h4,
        p {
          font-size: 15px;
          line-height: 1.53;
        }
      }
      .text_precios {
        margin-top: 30px;
        p {
          font-size: 15px;
          line-height: 1.53;
        }
        .box_buttons {
          margin-bottom: 20px;
        }
      }
    }
    .text_precios {
      .box_buttons {
        .precio_button,
        .btn-danger {
          width: 308px !important;
          height: 45px !important;
          font-size: 15px !important;
        }
      }
    }
  }
  #speech_analytics {
    .title {
      h1 {
        font-size: 35px;
        line-height: normal;
      }
      p {
        font-size: 20px;
        line-height: 1.15;
      }
      .box_buttons {
        .btn {
          display: block;
          font-size: 15px;
          line-height: normal;
          height: 45px;
          margin: 0 auto;
          width: 182px;
        }
        .btn-danger {
          margin-bottom: 20px;
        }
      }
    }
  }
  #speech_analytics_content {
    .box {
      padding-left: 34px;
      padding-right: 34px;
      .row {
        margin: 0;
      }
      p {
        font-size: 15px;
        line-height: 1.53;
      }
      h5 {
        font-size: 18px;
        line-height: 1.39;
      }
      .item_iconos {
        figure {
          margin-bottom: 10px;
          img {
            max-height: 80px;
          }
        }
        p {
          font-size: 15px;
          line-height: 1.53;
        }
      }
      .text_precios {
        margin-top: 30px;
        p {
          font-size: 15px;
          line-height: 1.53;
        }
        .box_buttons {
          margin-bottom: 30px;
          .precio_button,
          .btn-danger {
            width: 308px !important;
            height: 45px !important;
            font-size: 15px !important;
          }
        }
      }
    }
  }
  #contacto {
    min-height: 450px;
    .left_content {
      padding:0px 34px;
      h1 {
        font-size: 34px !important;
      }
      p {
        margin-bottom: 25px;
      }
    }
    .right_content {
      padding:0px 34px;
      h3 {
        font-size: 18px !important;
      }
      .form-control:not(textarea) {
        height: 38px;
      }
      p.text-danger {
        margin-bottom: .5rem;
      }
    }
  }
  #contacto_freshworks {
    min-height: 450px;
    .left_content {
      padding:0px 34px;
      img {
        margin-bottom: 10px;
      }
      h1 {
        font-size: 34px !important;
        margin-bottom: 20px;
      }
      p {
        margin-bottom: 25px;
      }
    }
    .right_content {
      padding:0px 34px;
      margin-top: 20px;
      .form-control:not(textarea) {
        height: 38px;
      }
      p.text-danger {
        margin-bottom: .5rem;
      }
    }
  }
  #contacto_precios {
    min-height: 450px;
    .left_content {
      padding:0px 34px;
      img {
        width: 190px;
        height: 38px;
      }
      h1 {
        font-size: 34px !important;
        margin-bottom: 20px;
      }
      p {
        margin-bottom: 25px;
      }
      .info_check {
        .form-check label {
            font-size: 12px;
        }
      }
    }
    .right_content {
      padding:0px 34px;
      margin-top: 20px;
      h3 {
        font-size: 18px !important;
      }
      .form-control:not(textarea) {
        height: 38px;
      }
      p.text-danger {
        margin-bottom: .5rem;
      }
    }
  }
  #contacto_demo {
    min-height: 450px;
    .left_content {
      padding:0px 34px;
      img {
        width: 190px;
        height: 38px;
      }
      h1 {
        font-size: 34px !important;
        margin-bottom: 20px;
      }
      p {
        margin-bottom: 25px;
      }
      .info_check {
        .form-check label {
            font-size: 12px;
        }
      }
    }
    .right_content {
      padding:0px 34px;
      margin-top: 20px;
      h3 {
        font-size: 18px !important;
      }
      .form-control:not(textarea) {
        height: 38px;
      }
      p.text-danger {
        margin-bottom: .5rem;
      }
    }
  }
  .text_digital {
    .Benefits {
      .box_buttons_benefits {
        .btn {
          line-height: 2.6;
          display: flex;
          display: -ms-flexbox;
          display: -webkit-flex;
          flex-flow: row wrap;
          -webkit-flex-flow: row wrap;
          align-items: center;
          -webkit-align-items: center;
          justify-content: center;
          -webkit-justify-content: center;
        }
      }
    }
  }
  .header_nuevo {
    .title {
      padding: 0px 25px;
      text-align: center;
      h1 {
        font-size: 24px;
      }
      h2 {
        font-size: 35px;
      }
      h3 {
        font-size: 22px;
      }
      .box_buttons {
        .btn {
          display: block;
          font-size: 15px;
          line-height: normal;
          height: 45px;
          min-height: auto;
          margin: 0 auto 20px !important;
          width: 182px;
        }
        .btn-danger {
          margin-right: 0px;
          margin-bottom: 20px;
        }
      }
      figure {
        img {
          max-height: 60px;
        }
      }
    }
  }
  .nosotros {
    background: transparent;
    background-color: $rojo;
    &:after {
      display: none;
    }
  }
  .header_bots {
    &:after {
      display: none;
    }
  }
  .header_digtouch {
    &:after {
      display: none;
    }
  }
  .header_freshworks {
    .row {
      flex-direction: column-reverse;
    }
    .imagen {
      text-align: center;
      figure {
        margin-bottom: 28px;
        img {
          max-height: 32px;
        }
      }
    }
    .title {
      text-align: center;
      h1 {
        font-size: 35px !important;
        line-height: normal !important;
        margin-bottom: 20px;
      }
      h3 {
        font-size: 20px;
        line-height: 1.15;
      }
    }
    &:after {
      display: none;
    }
  }
  .header_purecloud {
    .row {
      flex-direction: column-reverse;
    }
    .imagen {
      text-align: center;
      figure {
        margin-bottom: 28px;
        img {
          max-height: 32px;
        }
      }
    }
    .title {
      text-align: center;
      p {
        font-size: 15px;
        line-height: 2;
      }
      h1 {
        font-size: 35px !important;
        line-height: normal !important;
        margin-bottom: 20px;
      }
      h3 {
        font-size: 20px;
        line-height: 1.5;
      }
    }
    &:after {
      display: none;
    }
  }
  .header_sa {
    .title {
      h1 {
        font-size: 35px;
        line-height: normal;
      }
      h3 {
        font-size: 20px;
        line-height: 1.15;
      }
      p {
        font-size: 15px;
        line-height: 2;
      }
    }
    &:after {
      display: none;
    }
  }
  .header_ws {
    .title {
      h1 {
        font-size: 35px;
        line-height: normal;
      }
      h3 {
        font-size: 20px;
        line-height: 1.15;
      }
      p {
        font-size: 15px;
        line-height: 2;
      }
    }
    &:after {
      display: none;
    }
  }
  .header_mrk {
    .title {
      text-align: left;
      h1 {
        font-size: 45px !important;
        line-height: normal;
      }
      p {
        font-size: 15px;
        line-height: 2;
      }
    }
    &:after {
      display: none;
    }
  }
  .header_clientes {
    .title {
      text-align: left;
      h1 {
        font-size: 45px !important;
        line-height: normal;
      }
      p {
        font-size: 15px;
        line-height: 2;
      }
    }
    &:after {
      display: none;
    }
  }
  .header_serv {
    .title {
      text-align: left;
      h1 {
        font-size: 45px !important;
        line-height: normal;
      }
      p {
        font-size: 15px;
        line-height: 23px;
      }
    }
    &:after {
      display: none;
    }
  }
}

@media screen and (max-width: 359px) {
  header {
    .btn_header {
      a {
        padding: 9px 12px 6px;
      }
    }
  }
  header.hin_nmenu {
    padding: 0px 20px;
    .bg-light {
      .navbar-brand {
        img {
          max-height: 25px;
        }
      }
    }
  }
  #speech_analytics_content .box .item_iconos p {
    font-size: 13px;
    line-height: 1.33;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  #planes_pure_cloud {
    .plan {
      border-right: 0px;
    }
  }
  #freshworks {
    .top_header {
      .box_buttons {
        .btn-danger {
          margin-bottom: 0px;
        }
      }
    }
  }  
  #speech_analytics {
    .title {
      .box_buttons {
        .btn-danger {
          margin-bottom: 0px;
        }
      }
    }
  }
  .footer_internas {
    padding-bottom: 45px;
    .redes {
      .destock {
        margin-right: 0px;
      }
    }
  }
  .list_whatsapp {
    .text {
      .text_title {
        margin-right: 0px;
      }
    }
  }
  .header_nuevo {
    .title {
      .box_buttons {
        .btn {
          display: block;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  header {
    height: 71px;
    padding: 20px 34px;
    .row {
      width:auto !important;
    }
    .logo {
      img {
        max-height: 26px;
      }
    }
    .btn_header {
      a {
        font-size: 14px;
        padding: 10px 18px 8px;
      }
    }
  }
  header.hin_nmenu {
    padding: 0px 34px;
    .bg-light {
      .navbar-brand {
        margin-right: 10px;
      }
      .navbar-nav {
        margin-top: 89px;
        .nav-item {
          text-align: right;
          .nav-link {
            font-size: 45px;
            font-weight: 700;
            margin-right: 0px;
          }
        }        
        .nav-item.active {
          .nav-link {
            
          }
        }
        .item_menu {
          font-size: 45px;
        }
        .item_menu.active {
          ul {
            li {
              a {
                font-size: 15px;
                font-weight: 400;
              }
            }
          }
        }
        .nav-item.active.dropdown.show {
          &:after {
            display: none;
          }
        }
        .nav-item.dropdown {
          &:hover {
            &:after {
              display:none
            }
          }
        }
        .closebtn {
          top: 10px;
          right: 26px;
        }
        .dropdown-menu {
          background-color: transparent;
          border: 0px;
          border-radius: 0;
          box-shadow: none;
          padding-top: 0px;
          top: 59px;
          width: auto;
          .dropdown-item {
            padding: 0px;
            margin-bottom: 15px;
            .tit_seccion {
              font-size: 15px;
              font-weight: 400;
              line-height: normal;
              text-align: right;
            }
          }
        }
      }
    }
    .navbar-light {
      .navbar-toggler {
        border: 0;
        bottom: -68px;
        cursor: pointer;
        padding: 0;
        position: absolute;
        right: 0px;
        z-index: 9999;
      }
    }
    .navbar-collapse {
      background-color: rgb(249, 249, 249);
      height: 664px;
      left: -34px;
      padding: 0px 34px;
      position: absolute;
      right: -34px;
      top: 61px;
      z-index: 5;
    }
  }
  main {
    min-height: 450px;
    height: calc(100vh - (71px + 50px));
  }
  #home {
    padding:82px 0px;
    .left_content {
      padding:0px 34px;
      .top_content {
        h1 {
          font-size: 30px !important;
        }
        img {
          max-height: 128px;
          margin-right: 38px;
        }
      }
      .bottom_content {
        p {
          font-size: 15px;
          line-height: 1.67;
        } 
      }
    }
    .right_content {
      height: calc(100vh - (71px + 50px));
      min-height: 515px;
      .mn_hamb {
        position: absolute;
        top: 101px;
        right: 34px;
        width: 62px;
      }
      .sidenav {
        bottom: 50px;
        position: absolute;
        padding-top: 90px;
        padding-right: 34px;
        right: -735px;
        top: 71px;
        width: 100%;
        .item_menu {
          font-size: 45px;
        }
        .item_menu.active {
          ul {
            li {
              a {
                font-size: 15px;
                font-weight: 400;
              }
            }
          }
        }
        .closebtn {
          top: 10px;
          right: 26px;
        }
      }
      .open {
        right: 0;
      }
    }
    &:after {
      height: 325px;
      width: 470px;
    }
  }
  #pureCloudHeader {
    .content_header {
      .title_header {
        height: 100px;
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-flow: column-reverse wrap;
        -webkit-flex-flow: column-reverse wrap;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
        figure {
          position: relative;
          width: 100%;
          img {
            display: block;
            margin: 0 auto;
            max-height: 25px;
          }
        }
        p.top_header {
          font-size: 15px;
          width: 100%;
        }
      }
      .center_content {
        margin-top: 0px;
        p.txt_center {
          font-size: 20px;
          line-height: 30px;
          margin-bottom: 10px;
        }
        .box_buttons {
          .btn {
            display: block;
            font-size: 15px;
            height: 45px;
            margin: 0 auto;
            width: 182px;
          }
          .btn-danger {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
  #pureCloudHeaderRedSection {
    .img_sticky {
      top: -200px;
      max-height: 200px;
    }
  }
  #planes_pure_cloud {
    .plan {
      border-right: 0px;
      margin-bottom: 20px;
    }
  }
  #freshworksBlank {
    .content {
      padding: 0px 34px;
      .logo_fbl {
        figure {
          img {
            display: block;
            margin: 0 auto;
          }
        }
      }
    }
  }
  #speech_analytics_content {
    .box {
      padding-left: 34px;
      padding-right: 34px;
      .row {
        margin: 0;
      }
    }
  }
  #freshworks {
    .top_header {
      .box_buttons {
        .btn-danger {
          margin-bottom: 0px !important;
        }
      }
    }
  }
  .inicio_chatbots {
    .content_header {
      .center_content {
        .box_buttons {
          .btn-danger {
            margin-bottom: 0px !important;
          }
        }
      }
    }
  }
  #speech_analytics {
    .title {
      .box_buttons {
        .btn-danger {
          margin-bottom: 0px !important;
        }
      }
    }
  }
  .header_nuevo {
    .title {
      h1 {
        font-size: 28px;
      }
      h2 {
        font-size: 40px;
      }
      h3 {
        font-size: 24px;
      }
      .box_buttons {
        .btn {
          min-width: 177px;
        }
      }
    }
  }
  .nosotros {
    &:after {
      height: 160px;
      width: 607px;
    }
  }
  .header_bots {
    &:after {
      height: 325px;
      width: 371px;
    }
  }
  .header_digtouch {
    &:after {
      bottom: 5%;
      height: 300px;
      right: 2%;
      width: 317px;
    }
  }
  .header_freshworks {
    &:after {
      height: 259px;
      width: 350px;
    }
    .imagen {
      figure {
        margin-top: 0px;
      }
    }
  }
  .header_purecloud {
    &:after {
      height: 235px;
      width: 352px;
    }
    .imagen {
      figure {
        margin-top: 0px;
      }
    }
  }
  .header_sa {
    &:after {
      height: 205px;
      width: 307px;
    }
  }
  .header_ws {
    &:after {
      height: 450px;
      width: 342px;
    }
  }
  .header_mrk {
    &:after {
      height: 207px;
      width: 290px;
    }
  }
  .header_clientes {
    &:after {
      height: 207px;
      width: 260px;
    }
  }
  .header_serv {
    &:after {
      height: 318px;
      width: 260px;
    }
  }
}

@media screen and (max-width: 991px) {
  header {
    .menu {
      padding: 0;
    }
  }
  #home {
    .right_content {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .like_movigoo {
    .box {
      border: none;
      margin-bottom: 35px;
    }
  }
  .footer_internas {
    height: 100%;
    padding-bottom: 15px;
    .box_options {
      h3 {
        font-size: 13px;
      }
      ul {
        li {
          a {
            font-size: 13px;
          }
        }
      }
    }
  }
  .graphic_marketing {
    .img_graphic_destock {
      height: auto;
    }
  }
  .servicios {
    .title {
      h1 {
        font-size: 60px;
      } 
      .formula {
        .box {
          p {
            margin-right: 0px; 
          }
        }
      }
    }
  }
  #nosotros {
    background:url('../images/movigoo-banner-xs.jpg') no-repeat;
    background-position:center center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    .info {
      figure {
        img {
          max-height: 60px;
        }
      }
      h2 {
        font-size: 34px;
      }
    }
  }
  #nosotros_content {
    .left_img {
      figure {
        img {
          display: block;
          margin: 0 auto;
        }
      }
    }
    .right_content {
      .txt_big {
        font-size: 30px;
      }
      .texto_grande {
        font-size: 20px;
        line-height: 1.2;
      }
      p {
        font-size: 18px;
      }
      .imgnos_final {
        img {
          max-height: 60px;
        }
      }
    }
  }
  .text_digital {
    .box {
      margin-top: 25px;
      margin-bottom: 0px;
      border: none;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      flex-flow: row;
      -webkit-flex-flow: row;
      align-items: center;
      -webkit-align-items: center;
      justify-content: flex-start;
      -webkit-justify-content: flex-start;
      p {
        padding: 0px 15px;
      }
      .dark {
        color: $morado;
      }
    }
    .text {
      margin-top: 30px;
      p {
        font-size: 15px;
        padding:0px 15px;
      }
      .title_box {
        font-size: 18px;
        padding:0px 15px;
      }
    }
    .Benefits {
      p {
        font-size: 18px;
        padding:0px 15px;
      }
      .box_buttons_benefits {
        display: initial;
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        position: relative;
        flex-flow: column;
        -webkit-flex-flow: column;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
        margin-bottom: 30px;
        .wasp,
        .chat{
          width: 309px;
          height: 50px;
          font-size: 15px;
          img {
            width: 23px;
            height: 23px;
          }
        }
        .wasp {
          margin-top: 30px;
          margin-bottom: 20px;
          margin-right: 0px;
        }
      }
    }
    .text_precios {
      p{
        font-size: 15px;
        padding:0px 15px;
      }
      .box_buttons {
        margin-top: 42px;
        margin-bottom: 50px;
        .precio_button {
          width: 308px !important;
          height: 45px !important;
          font-size: 15px !important;
        }
      }
    }
  } 
  .text_chatbots {
    .text {
      .title_box {
        margin-right: 0px;
      }
    }
  }
  #pureCloudFooter {
    .text_precios {
      padding:0px 34px;
      .row {
        margin: 0;
      }
      .top_content {
        padding: 0px;
        h2 {
          font-size: 30px;
          line-height: normal;
        }
        p {
          font-size: 15px;
          line-height: 1.4;
          padding: 0;
        }
      }
      p {
        font-size: 15px;
        padding:0px 15px;
      }
      .box_buttons {
        margin-top: 42px;
        margin-bottom: 50px;
        .precio_button {
          width: 308px !important;
          height: 45px !important;
          font-size: 15px !important;
        }
      }
    }
  }
  #contacto {
    .left_content {
      .info_ubic {
        .icon {
          min-width: 30px;
          img {
            max-width: 20px;
          }
        }
        .info {
          width: calc(100% - 30px);
          h4 {
            font-size: 14px;
            line-height: 1.2;
          }
          p {
            font-size: 14px;
            line-height: 1.2;
          }
        }
      }
      h1 {
        font-size: 56px;
      }
    }
    .right_content {
      h3 {
        font-size: 22px;
      }
      .controls {
        .form-control {
          font-size: 14px;
          line-height: 1.7;
        }
      }
    }
  }
  #contacto_freshworks {
    .left_content {
      .info_ubic {
        .icon {
          min-width: 30px;
          img {
            max-width: 20px;
          }
        }
        .info {
          width: calc(100% - 30px);
          h4 {
            font-size: 14px;
            line-height: 1.2;
          }
          p {
            font-size: 14px;
            line-height: 1.2;
          }
        }
      }
      h1 {
        font-size: 56px;
      }
    }
    .right_content {
      h3 {
        font-size: 22px;
      }
      .controls {
        .form-control {
          font-size: 14px;
          line-height: 1.7;
        }
      }
    }
  }
  #contacto_precios {
    .left_content {
      margin-bottom: 30px;
      h1 {
        font-size: 56px;
      }
      .info_check {
        .form-check label {
          font-size: 15px;
        }
      }
    }
    .right_content {
      h3 {
        font-size: 22px;
      }
      .controls {
        .form-control {
          font-size: 14px;
          line-height: 1.7;
        }
      }
    }
  }
  #contacto_demo {
    .left_content {
      margin-bottom: 30px;
      h1 {
        font-size: 56px;
      }
      .info_check {
        .form-check label {
          font-size: 15px;
        }
      }
    }
    .right_content {
      h3 {
        font-size: 22px;
      }
      .controls {
        .form-control {
          font-size: 14px;
          line-height: 1.7;
        }
      }
    }
  }
}

@media screen and (min-width:992px) and (max-width:1199px) {
  #home {
    .right_content {
      .sidenav {
        .item_menu {
          font-size: 52px;
        }
        .item_menu.active {
          ul {
            li {
              margin-bottom: 2px;
              a {
                font-size: 15px;
                font-weight: 400;
              }
            }
          }
        }
      }
    } 
    &:after {
      height: 325px;
      width: 470px;
    }
  }
  #pureCloudHeaderRedSection {
    .img_sticky {
      top: -250px;
    }
  }
  #nosotros_content {
    .right_content {
      .txt_big {
        font-size: 34px;
      }
      p {
        font-size: 21px;
      }
    }
  }
  .text_digital {
    .Benefits {
      .box_buttons_benefits {
        .wasp {
          margin-bottom: 20px;
        }
      }
    }
  }
  #pureCloudHeader {
    .content_header {
      .title_header {
        figure {
          img {
            max-height: 32px;
          }
        }
      }
    }
  }
  #pureCloudContent {
    .texto_centrado {
      .integraciones {
        img {
          margin-right: 20px;
        }
      }
    }
  }
  .text_chatbots {
    .text {
      .title_box {
        margin-right: 75px;
      }
    }
  }
  #contacto {
    .left_content {
      .info_ubic {
        .icon {
          min-width: 30px;
          img {
            max-width: 20px;
          }
        }
        .info {
          width: calc(100% - 30px);
          h4 {
            font-size: 14px;
            line-height: 1.2;
          }
          p {
            font-size: 14px;
            line-height: 1.2;
          }
        }
      }
      h1 {
        font-size: 56px;
      }
    }
    .right_content {
      h3 {
        font-size: 22px;
      }
      .controls {
        .form-control {
          font-size: 14px;
          line-height: 1.7;
        }
        .form-control:not(textarea) {
          height: 38px;
        }
        p.text-danger {
          margin-bottom: .5rem;
        }
      }
    }
  }
  #contacto_freshworks {
    .left_content {
      .info_ubic {
        .icon {
          min-width: 30px;
          img {
            max-width: 20px;
          }
        }
        .info {
          width: calc(100% - 30px);
          h4 {
            font-size: 14px;
            line-height: 1.2;
          }
          p {
            font-size: 14px;
            line-height: 1.2;
          }
        }
      }
      h1 {
        font-size: 56px;
      }
    }
    .right_content {
      h3 {
        font-size: 22px;
      }
      .controls {
        .form-control {
          font-size: 14px;
          line-height: 1.7;
        }
        .form-control:not(textarea) {
          height: 38px;
        }
        p.text-danger {
          margin-bottom: .5rem;
        }
      }
    }
  }
  #contacto_precios {
    .left_content {
      h1 {
        font-size: 56px;
      }
      .info_check {
        .form-check {
          label {
            font-size: 15px;
          }
          .ctn_check {
            font-size: 16px;
          }
        }
      }
    }
    .right_content {
      h3 {
        font-size: 22px;
        margin-bottom: 12px;
      }
      .form-group {
        margin-bottom: .5rem;
      }
      .controls {
        .form-control {
          font-size: 14px;
          line-height: 1.7;
        }
        .form-control:not(textarea) {
          height: 38px;
        }
        p.text-danger {
          margin-bottom: .5rem;
        }
      }
    }
  }
  #contacto_demo {
    .left_content {
      h1 {
        font-size: 56px;
      }
      .info_check {
        .form-check {
          label {
            font-size: 15px;
          }
          .ctn_check {
            font-size: 16px;
          }
        }
      }
    }
    .right_content {
      h3 {
        font-size: 22px;
        margin-bottom: 12px;
      }
      .form-group {
        margin-bottom: .5rem;
      }
      .controls {
        .form-control {
          font-size: 14px;
          line-height: 1.7;
        }
        .form-control:not(textarea) {
          height: 38px;
        }
        p.text-danger {
          margin-bottom: .5rem;
        }
      }
    }
  }
  #nosotros {
    background:url('../images/movigoo-banner-md.jpg') no-repeat fixed;
    background-position:center center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
  }
  footer {
    .info {
      text-align: left;
      font-size: 14px;
    }
  }
  .footer_internas {
    height: 300px;
  }
  .nosotros {
    &:after {
      height: 180px;
      width: 683px;
    }
  }
  .header_bots {
    &:after {
      height: 420px;
      width: 480px;
    }
  }
  .header_digtouch {
    &:after {
      height: 400px;
      width: 423px;
      right: 4%;
    }
  }
  .header_freshworks {
    &:after {
      height: 333px;
      width: 450px;
    }
  }
  .header_purecloud {
    &:after {
      height: 325px;
      width: 487px;
    }
  }
  .header_sa {
    &:after {
      height: 300px;
      width: 450px;
    }
  }
  .header_mrk {
    &:after {
      height: 250px;
      width: 350px;
    }
  }
  .header_clientes {
    &:after {
      height: 250px;
      width: 314px;
    }
  }
}

@media screen and (min-width: 1200px) and (max-width:1399px) {
  #home {
    &:after {
      height: 375px;
      width: 543px;
    }
    .right_content {
      .sidenav {
        .item_menu {
          font-size: 54px;
        }
      }
    } 
  }
  #pureCloudHeader {
    .content_header {
      .title_header {
        figure {
          img {
            max-height: 36px;
          }
        }
      }
    }
  }
  #contacto {
    padding: 32px 0px;
    .left_content {
      h1 {
        font-size: 62px;
      }
    }
    .right_content {
      h3 {
        font-size: 20px;
      }
      .controls {
        .text-danger {
          margin-bottom: 0rem;
        }
      }
    }
  }
  #contacto_freshworks {
    padding: 32px 0px;
    .left_content {
      h1 {
        font-size: 62px;
      }
    }
    .right_content {
      h3 {
        font-size: 20px;
      }
      .controls {
        .text-danger {
          margin-bottom: 0rem;
        }
      }
    }
  }
  #contacto_precios {
    padding: 32px 0px;
    .left_content {
      h1 {
        font-size: 62px;
      }
    }
    .right_content {
      h3 {
        font-size: 20px;
      }
      .controls {
        .text-danger {
          margin-bottom: 0rem;
        }
      }
    }
  }
  #contacto_demo {
    padding: 32px 0px;
    .left_content {
      h1 {
        font-size: 62px;
      }
    }
    .right_content {
      h3 {
        font-size: 20px;
      }
      .controls {
        .text-danger {
          margin-bottom: 0rem;
        }
      }
    }
  }
  .header_mrk {
    &:after {
      height: 325px;
      width: 455px;
    }
  }
  .header_clientes {
    &:after {
      height: 325px;
      width: 408px;
    }
  }
}

@media screen and (min-width: 1400px) and (max-width:1550px) {
  #home {
    &:after {
      height: 449px;
      width: 650px;
    }
  }
}

@media screen and (max-height: 767px) {
  main {
    min-height: calc(600px - (50px + 88px));
  }
  main.mcont {
    min-height: 600px;
  }
  #home {
    .left_content, 
    .right_content {
      min-height: calc(600px - (50px + 88px + 88px));
    }
    .right_content {
      .sidenav {
        .item_menu {
          font-size: 42px;
        }
        .item_menu.active {
          ul {
            margin-bottom: 4px;
            li {
              height: 22px;
              margin-bottom: 0px;
              a {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
    &:after {
      height: 375px;
      width: 543px;
    }
  }
  #contacto_freshworks,
  #contacto_precios,
  #contacto_demo {
    .right_content {
      h3 {
        font-size: 19px;
        margin-bottom: 10px;
      }
      .form-group {
        margin-bottom: .5rem;
        .controls {
          .form-control:not(textarea) {
            height: 40px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .list_whatsapp {
    .box_wapp {
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
    }
  }
  .like_movigoo {
    .clientes_box.offset-lg-1 {
      margin-left: 12.5% !important;
    }
  }
}

@media screen and (min-width: 1440px) {
  .header_nuevo {
    &:after {
      right: 15%;
    }
  }
}