$rojo: #dc3b41;
$fondo: #f9f9f9;
$fondo_morado:#7d00ff;
$negro: #262626;
$rosado: #ff3453;
$azul:#0096ff;
$morado:#6727e5;
$fondo_azul:#3d3193;
$fondo_marron: #262626;
$naranja:#fb5e49;
$verde_ws: #00dc87;